{% extends 'base.html.twig' %}

{% block title %}Category index{% endblock %}

{% block body %}

    {% for categories, messages in app.flashes %}
        {% for message in messages %}
            <div class="alert alert-{{ categories }} text-center">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}



    <h1>Category index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for category in categories %}
            <tr>
                <td>{{ category.id }}</td>
                <td>{{ category.name }}</td>
                <td>
                    <a href="{{ path('show_category', {'id': category.id}) }}">show</a>
                    <a href="{{ path('edit_category', {'id': category.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('add_category') }}">Create new</a>
{% endblock %}
