{% extends 'base.html.twig' %}

{% block body %}

    <div class="jumbotron text-center">
        <h1>
            {{ 'home.title'|trans }}
        </h1>
    </div>

    <div class="container">
        <a href="{{ path('article_index')}}">
            {{ 'lien.articles'|trans }}
        </a>
        <br>
        <a href="{{ path('category_index')}}">
            {{ 'lien.categorys'|trans }}
        </a>
        <br>
        <a href="{{ path('tag_index') }}">
            {{ 'lien.tags'|trans }}
        </a>
    </div>
{% endblock %}

